* {
    -fx-bar-background: #334563;
    -fx-bar-border-color: #dfe1e6;
    
    button-color: #415aab;
    button-primary-color: #d41919;
    
    text-selection-background: #b3c5e3;
    text-selection-text: #263a59;
    
    main-background-color: #f5f5f7;
    
    toolbar-background: white;  
    card-background: white;  
    
    tab-text: white;
    tab-shadow: #cccccc;
    
    text-color: #333333;
    sub-text-color: #222222;
    
    input-background: #fbfbfb;
    /*input-background: white;*/
    text-area-background: white;
    tree-view-background: white;
    list-view-background: white;
    image-view-background: white;
    
    icon-hover1:#ececec;
    icon-hover2:#eeeeee;
    icon-color: #333333;
    icon-color2: white;
    
    input-border: #939ec2;
    
    user-color-1: #356fcc;
    
    user-color-2: #23a7cc;
    
    user-color-3: #2db56d;
    
    user-color-4: #92c738;
    
    user-color-5: #d9c741;
    
    user-color-6: #d12121;
    
    user-color-7: #cfa3ce;
}

/*@import "color-definition-dark.css";*/