* {
    -fx-bar-background: #334563;
    -fx-bar-border-color: #dfe1e6;
    
    button-color: #415aab;
    button-primary-color: #d41919;
    
    input-background: white;
    
    input-border: #939ec2;
    
    
    user-color-1: #bad5ff;
    
    user-color-2: #b5e8c4;
    
    user-color-3: #a5ad87;
    
    user-color-4: #e6be93;
    
    user-color-5: #e3ae9d;
    
    user-color-6: #8172ad;
    
    user-color-7: #cfa3ce;
}