* {
    -fx-bar-background: #334563;
    -fx-bar-border-color: #dfe1e6;
    
    button-color: #415aab;
    button-primary-color: #d41919;
    
    tab-text: white;
    
    input-background: white;
    
    input-border: #939ec2;
    
    
    user-color-1: #356fcc;
    
    user-color-2: #23a7cc;
    
    user-color-3: #2db56d;
    
    user-color-4: #92c738;
    
    user-color-5: #d9c741;
    
    user-color-6: #d12121;
    
    user-color-7: #cfa3ce;
}