* {
    
    /*-fx-bar-background: #11202e;*/
    -fx-bar-background: #363645;
    -fx-bar-border-color: #363645;
    
    button-color: #415aab;
    button-primary-color: #d41919;
    
    text-selection-background: #b3c5e3;
    text-selection-text: #263a59;
    
    main-background-color: #363645;
    card-background: #24242e;
    
    tab-text: white;
    tab-shadow: #2d2d30;
    
    text-color: #d4d4d4;
    sub-text-color: #656565;
    
    input-background: #404052;
    text-area-background: #24242e;
    tree-view-background: #24242e;
    list-view-background: #24242e;
    image-view-background: #24242e;
    
    input-border: #6f6f7d;
    
    icon-hover1:#404052;
    icon-hover2:#383842;
    
    icon-color: #c7c7c7;
    
    toolbar-background: #24242e;    
    
    
    
    
    
    
    
    
    
    user-color-1: #356fcc;
    
    user-color-2: #23a7cc;
    
    user-color-3: #2db56d;
    
    user-color-4: #92c738;
    
    user-color-5: #d9c741;
    
    user-color-6: #d12121;
    
    user-color-7: #cfa3ce;
}
