@font-face {
    font-family: 'Lato Light';
    src: url('Lato-Light.ttf');
}

@font-face {
    font-family: 'Zilla Slab Light';
    src: url('fonts/ZillaSlab-Light.ttf');
}

#mainBackground, #todoBackground {
    -fx-background-color: main-background-color;
}

.root { 
    -fx-focus-color: transparent; 
    -fx-background-color: main-background-color;
}

.tab:focused,
.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused,
.slider:focused .thumb {
    /*    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
        -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
        -fx-background-radius: 3, 2, 1, 4, 1;*/

    -fx-focus-color: transparent; 
    -fx-background-insets: -1.4, 0, 1, 2;   
}


.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, text-area-background, transparent, text-area-background;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    /*    -fx-focus-color: -fx-control-inner-background;
        -fx-faint-focus-color: -fx-control-inner-background;
        -fx-text-box-border: -fx-control-inner-background;*/


    -fx-focus-color: red;
    -fx-faint-focus-color: red;
    -fx-text-box-border: red;

    -fx-border-width: 15;
    -fx-border-color: text-area-background;

    -fx-font-size: 16;

    /*-fx-padding: 20 3 20 20 ;*/
    -fx-background-color: text-area-background;
}

.text-area .content {
    -fx-background-color: text-area-background;
}
.text-area .text {
     -fx-line-spacing: 4px;
}

.text-area:focused .content {
    -fx-background-color: text-area-background;
}


.viewport {
    -fx-background-insets: 0;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.tab-header-background {
    -fx-background-color: transparent;
}

#noteTabContainer, #notepadTabContainer {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-background-radius: 3;
    -fx-background-insets: 0;

    -fx-border-radius: 3;
    -fx-border-insets: 0;

    -fx-effect: dropshadow(gaussian, tab-shadow, 7, 0, 0, 0);
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-base-color: tab-text;

    /*-fx-padding: 4 10 4 4 ;*/
}

.tab.button {
    -fx-background-insets: 12 0 0 12;
    -fx-border-insets: 12 0 0 12;
    -fx-padding: 8 8 8 8;
    -fx-background-radius: 4 4 0 0;
    -fx-border-radius: 4 4 0 0;
}

#noteTabContainer .tab {

    -fx-padding: 2 10 2 10 ;
    -fx-alignment: CENTER;    
    -fx-text-alignment: center; 

    -fx-border-width:  0 0 1 0;
    -fx-opacity: 0.7;
}

#noteTabContainer *.tab:selected {
    -fx-padding: 5 10 5 10 ;
    -fx-effect: null;
    -fx-opacity: 1;
}


.lato-font {
    -fx-font-family: 'Lato Light';
}

.top-bar {
    -fx-background-color: -fx-bar-background;
}

.top-bar .label {
    -fx-text-fill: tab-text;
}

.split-pane-divider {
    -fx-padding: 0 1 0 1 ;
    -fx-background-color: -fx-bar-border-color ;
    -fx-background-insets: 5 5 5 5; 
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-shape: null;
    -fx-background-color: null;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-shape: null;
    -fx-background-color: null;
}

.tree-view {
    cell-selection-color: derive(-fx-bar-background, 75%);

    -fx-background-insets: 0;
    -fx-background-color: transparent, tree-view-background, transparent, tree-view-background;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    -fx-border-width: -1;
}

.tree-cell:selected  {
    -fx-background-color: derive(cell-selection-color, 50%);
}

.tree-cell:selected .label {
    -fx-text-fill: derive(cell-selection-color, -70%);
}

.tree-cell {
    -fx-background-color: tree-view-background;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-font-size: 20.0 pt;
    -fx-padding: 5 ;
    -fx-text-fill:icon-color;
}

.icon-button .menu-item .label {
    -fx-font-size: 14.0 pt;
}

.icon-button:hover {

    -fx-background-color: linear-gradient(to bottom, icon-hover1 0%, icon-hover2 100%);
    -fx-background-insets: 0,1;
    /*-fx-padding: 7px;*/
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;

}

.icon-button:disabled > * {
    -fx-opacity: 0.5 ;
}

.icon-button:pressed {
    -fx-background-color: rgba(255,255,255,0.75),
        linear-gradient(to bottom, icon-hover1 0%, icon-hover2 100%);    
}

.label {
    -fx-text-fill: text-color;
}
.sub-text {
    -fx-text-fill: sub-text-color;
}


.text-input {
    /*-fx-highlight-fill:  derive(-fx-bar-background,10%);*/
    /*-fx-highlight-text-fill:  derive(-fx-bar-background,5%);*/

    -fx-highlight-fill:  text-selection-background;
    -fx-highlight-text-fill:  text-selection-text;

    -fx-text-fill: text-color;

}
.text-input:focused {
    -fx-highlight-fill:  text-selection-background;
    -fx-highlight-text-fill:  text-selection-text;

    -fx-text-fill: text-color;
}

#noteToolbar, #notepadToolbar {
    -fx-background-color: toolbar-background;
}

#noteToolbar .menu-button, #notepadToolbar .menu-button {
    -fx-padding: 8;
}

#noteToolbar .button, #notepadToolbar .button  {
    -fx-padding: 15;
}


.context-menu {
    -fx-background-color: main-background-color;
    -fx-text-fill: text-color;
}

.menu-item .label {
    -fx-text-fill: text-color;
}

.menu-item:focused .label {
    -fx-text-fill: sub-text-color;
}

.list-view {
    -fx-background-color: main-background-color;
    -fx-text-fill: text-color;
    -fx-border-color: input-border;
    -fx-background-radius: 2;
    -fx-border-radius: 2;    
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /*-fx-background-color: linear-gradient(text-selection-background 0%, input-background 100%);*/
    -fx-background-color: text-selection-background;
    -fx-text-fill: text-selection-text;
}

.list-cell { 
    -fx-background-color: derive(main-background-color,10%);
    -fx-text-fill: text-color;
}

.list-cell:filled:hover {
    -fx-background-color: main-background-color;
    -fx-text-fill: sub-text-color;    
}

.check-box .label {
    -fx-text-fill: text-color;
}

#imageViewBackground {
    -fx-background-color: image-view-background;
    -fx-border-color: input-border;
}

.scroll-pane, .pane{
    -fx-padding: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent;
}

.split-pane {
    -fx-box-border: transparent;
    -fx-padding: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color:transparent;
}

.split-pane > .split-pane-divider {
    
    -fx-padding: 0 1 0 1 ;
    -fx-background-color: main-background-color;
    -fx-background-insets: 0;

}

.tooltip {
    -fx-font-size: 13.0 pt;
}

.tag-label {
    -fx-background-color: red;
    -fx-text-fill: tab-text;
    -fx-padding: 4 7 4 7;
    -fx-background-radius: 4, 4, 4, 4;
}