@font-face {
    font-family: 'Lato Light';
    src: url('Lato-Light.ttf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/FontAwesome.otf');
}

@font-face {
    font-family: 'Zilla Slab Light';
    src: url('fonts/ZillaSlab-Light.ttf');
}

.root { 
    -fx-focus-color: transparent; 
}

.tab:focused,
.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused,
.slider:focused .thumb {
    /*    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
        -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
        -fx-background-radius: 3, 2, 1, 4, 1;*/

    -fx-focus-color: transparent; 
    -fx-background-insets: -1.4, 0, 1, 2;    
}


.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.viewport {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.content {
}

.text {
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;

    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}


.tab-header-background {
    -fx-background-color: transparent;
}


#noteTabContainer {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-background-radius: 3;
    -fx-background-insets: 0;

    -fx-border-radius: 3;
    -fx-border-insets: 0;
    
    -fx-effect: dropshadow(three-pass-box, #cccccc, 7, 0, 0, 0);
    /*-fx-background-insets: 10;*/    
}


.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#noteTabContainer .tab {

    -fx-padding: 2 10 2 10 ;
    -fx-alignment: CENTER;    
    -fx-text-alignment: center; 

    -fx-border-width:  0 0 1 0;
    -fx-opacity: 0.7;
}

#noteTabContainer *.tab:selected {
    -fx-padding: 5 10 5 10 ;
    -fx-effect: null;
    -fx-opacity: 1;
}


.lato-font {
    -fx-font-family: 'Lato Light';
}

.top-bar {
    -fx-background-color: -fx-bar-background;
}

.search-input {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: derive(-fx-bar-background,30%);
}

.split-pane-divider {
    -fx-padding: 0 1 0 1 ;
    -fx-background-color: -fx-bar-border-color ;
    -fx-background-insets: 5 5 5 5; 
}


.tree-view {
    -fx-background-color: -fx-bar-border-color;
}


.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-shape: null;
    -fx-background-color: null;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-shape: null;
    -fx-background-color: null;
}

.tree-view {
    cell-selection-color: transparent;
}

.tree-cell:selected  {
    -fx-background-color: cell-selection-color;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-font-size: 20.0 pt;
    -fx-font-family: 'FontAwesome';
    -fx-padding: 5 ;
}

.icon-button .menu-item .label {
    -fx-font-size: 14.0 pt;
}

.icon-button:hover {

    -fx-background-color: rgba(255,255,255,0.75),
        linear-gradient(to bottom, #ececec 0%, #eeeeee 100%);
    -fx-background-insets: 0,1;
    /*-fx-padding: 7px;*/
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-effect: innershadow(three-pass-box, rgba(110,110,110,0.15),1,0,1,1);
    /*-fx-text-fill: black;*/    

}

.icon-button:disabled > * {
    -fx-opacity: 0.5 ;
}

.icon-button:pressed {
    -fx-background-color: rgba(255,255,255,0.75),
        linear-gradient(to bottom, #dcdcdc 0%, #dddddd 100%);    
}

/*.icon-button > .menu-item > .label {
    -fx-font-size: 14.0 pt;
}*/

.text-area {
    -fx-font-size: 16;
    -fx-text-fill: #333333;
    -fx-padding: 20 3 20 20 ;
    /*-fx-font-family: 'Zilla Slab Light';*/
}

.text-input {
    -fx-highlight-fill:  derive(-fx-bar-background,80%);
    -fx-highlight-text-fill:  derive(-fx-bar-background,5%);
}
.text-input:focused {
    -fx-highlight-fill:  derive(-fx-bar-background,80%);
    -fx-highlight-text-fill:  derive(-fx-bar-background,5%);
}

#noteToolbar {
    -fx-background-color: white;
}

#noteToolbar .menu-button {
    -fx-padding: 8;
}

#noteToolbar .button  {
    -fx-padding: 15;
}

#noteToolbar .button,#noteToolbar .menu-button {
    -fx-text-fill: #555555;
}
