@font-face {
    font-family: 'Lato Light';
    src: url('Lato-Light.ttf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/FontAwesome.otf');
}

@font-face {
    font-family: 'Zilla Slab Light';
    src: url('fonts/ZillaSlab-Light.ttf');
}

/** {
    -fx-background-color: transparent;
}*/

#mainBackground {
    -fx-background-color: main-background-color;
}

.root { 
    -fx-focus-color: transparent; 
    -fx-background-color: main-background-color;
}

.tab:focused,
.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused,
.slider:focused .thumb {
    /*    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
        -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
        -fx-background-radius: 3, 2, 1, 4, 1;*/

    -fx-focus-color: transparent; 
    -fx-background-insets: -1.4, 0, 1, 2;   
}


.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, text-area-background, transparent, text-area-background;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    /*    -fx-focus-color: -fx-control-inner-background;
        -fx-faint-focus-color: -fx-control-inner-background;
        -fx-text-box-border: -fx-control-inner-background;*/


    -fx-focus-color: red;
    -fx-faint-focus-color: red;
    -fx-text-box-border: red;

    -fx-border-width: 15;
    -fx-border-color: text-area-background;

    -fx-font-size: 16;

    /*-fx-padding: 20 3 20 20 ;*/
    -fx-background-color: text-area-background;
}

.text-area .content {
    -fx-background-color: text-area-background;
}

.text-area:focused .content {
    -fx-background-color: text-area-background;
}


.viewport {
    -fx-background-insets: 0;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}

.tab-header-background {
    -fx-background-color: transparent;
}

#noteTabContainer, #notepadTabContainer {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-background-radius: 3;
    -fx-background-insets: 0;

    -fx-border-radius: 3;
    -fx-border-insets: 0;

    -fx-effect: dropshadow(gaussian, tab-shadow, 7, 0, 0, 0);
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-base-color: tab-text;
}

#noteTabContainer .tab {

    -fx-padding: 2 10 2 10 ;
    -fx-alignment: CENTER;    
    -fx-text-alignment: center; 

    -fx-border-width:  0 0 1 0;
    -fx-opacity: 0.7;
}

#noteTabContainer *.tab:selected {
    -fx-padding: 5 10 5 10 ;
    -fx-effect: null;
    -fx-opacity: 1;
}


.lato-font {
    -fx-font-family: 'Lato Light';
}

.top-bar {
    -fx-background-color: -fx-bar-background;
}

.top-bar .label {
    -fx-text-fill: tab-text;
}

/*.search-input {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: derive(-fx-bar-background,30%);
}*/

.split-pane-divider {
    -fx-padding: 0 1 0 1 ;
    -fx-background-color: -fx-bar-border-color ;
    -fx-background-insets: 5 5 5 5; 
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-shape: null;
    -fx-background-color: null;
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-shape: null;
    -fx-background-color: null;
}

.tree-view {
    cell-selection-color: derive(-fx-bar-background, 75%);

    -fx-background-insets: 0;
    -fx-background-color: transparent, tree-view-background, transparent, tree-view-background;
    -fx-background-radius: 0, 0, 0, 0;

    -fx-box-border: none;
    -fx-border-width: -1;
}

.tree-cell:selected  {
    -fx-background-color: derive(cell-selection-color, 50%);
}

.tree-cell:selected .label {
    -fx-text-fill: derive(cell-selection-color, -70%);
}

.tree-cell {
    -fx-background-color: tree-view-background;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-font-size: 20.0 pt;
    -fx-font-family: 'FontAwesome';
    -fx-padding: 5 ;
    -fx-text-fill:icon-color;
}

.icon-button .menu-item .label {
    -fx-font-size: 14.0 pt;
}

.icon-button:hover {

    -fx-background-color: linear-gradient(to bottom, icon-hover1 0%, icon-hover2 100%);
    -fx-background-insets: 0,1;
    /*-fx-padding: 7px;*/
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;

}

.icon-button:disabled > * {
    -fx-opacity: 0.5 ;
}

.icon-button:pressed {
    -fx-background-color: rgba(255,255,255,0.75),
        linear-gradient(to bottom, icon-hover1 0%, icon-hover2 100%);    
}

/*.icon-button > .menu-item > .label {
    -fx-font-size: 14.0 pt;
}*/

.label {
    -fx-text-fill: text-color;
}
.sub-text {
    -fx-text-fill: sub-text-color;
}


.text-input {
    /*-fx-highlight-fill:  derive(-fx-bar-background,10%);*/
    /*-fx-highlight-text-fill:  derive(-fx-bar-background,5%);*/

    -fx-highlight-fill:  text-selection-background;
    -fx-highlight-text-fill:  text-selection-text;

    -fx-text-fill: text-color;

}
.text-input:focused {
    -fx-highlight-fill:  text-selection-background;
    -fx-highlight-text-fill:  text-selection-text;

    -fx-text-fill: text-color;
}

#noteToolbar, #notepadToolbar {
    -fx-background-color: toolbar-background;
}

#noteToolbar .menu-button, #notepadToolbar .menu-button {
    -fx-padding: 8;
}

#noteToolbar .button, #notepadToolbar .button  {
    -fx-padding: 15;
}

/*#noteToolbar .button,#noteToolbar .menu-button, #noteToolbar .button, #notepadToolbar .menu-button {
    -fx-text-fill: #555555;
}*/

#top-bar .icon-button .menu-item .label {
    -fx-font-size: 22.0 pt;

}
#top-bar .icon-button {
    -fx-padding: 13 20 13 20;
    -fx-text-fill: icon-color2;
}
#top-bar .icon-button:hover {

    -fx-background-color: rgba(255,255,255,0.75),
        linear-gradient(to bottom, derive(-fx-bar-background,5%) 0%, derive(-fx-bar-background,5%) 100%);
    -fx-background-insets: 0,1;
    /*-fx-padding: 7px;*/
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    /*-fx-effect: innershadow(three-pass-box, rgba(110,110,110,0.15),1,0,1,1);*/

}