* {
    -fx-icon-size: 24;
}

.icon-base {
    -fx-content-display: graphic-only;
    /*-fx-padding: 15;*/
    -fx-background-color: text-color;

    -fx-background-size: 18px;

    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-min-width: 16;
    -fx-max-width: 16;
/*
    -fx-pref-width: 12;
    -fx-pref-height: 16;
*/
/*-fx-min-width:30% ;*/
/*-fx-max-width:30% ;*/
}

#top-bar .icon-button .menu-item .label {
    -fx-font-size: 22.0 pt;

}
#top-bar .icon-button {
    -fx-padding: 13 20 13 20;
    /*-fx-text-fill: icon-color2;*/
}
/*
#top-bar .icon-button .icon-base {
    -fx-background-color: icon-color2;
}

#top-bar .icon-button:hover {

    -fx-background-color: rgba(255,255,255,0.75),
        linear-gradient(to bottom, derive(-fx-bar-background,5%) 0%, derive(-fx-bar-background,5%) 100%);
    -fx-background-insets: 0,1;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;

}*/

#noteTabContainer .tab.icon-base {
    -fx-background-color: text-color;
    -fx-min-height: 10;
    -fx-min-width: 10;
    -fx-max-height: 10;
    -fx-max-width: 10;
}

#nodeIcon, #directoryIcon {
    -fx-background-color: text-color;
    -fx-min-height: 14;
    -fx-min-width: 14;
    -fx-max-height: 14;
    -fx-max-width: 14;
}
