/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 2, 2020, 11:06:18 PM
    Author     : lg
*/

root > *  {
    /*-fx-focus-color: transparent;*/ 
    /*-fx-background-color: blue;*/
}

.card  {
    -fx-focus-color: toolbar-background; 
    -fx-effect: dropshadow(gaussian, tab-shadow, 7, 0, 0, 0);
    /*-fx-border-color: red;*/
    -fx-background-color: toolbar-background;
}

.button{
    -fx-border-color: button-color;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: button-color;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: white;
    -fx-padding: 10 12 10 12 ;
}

.text-field {
    -fx-background-color: input-background;
    -fx-padding: 10 12 10 12 ;
    -fx-border-color: input-border;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    /*-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
}

.text-field:focused {
    -fx-background-color: input-background;
    -fx-padding: 10 12 10 12 ;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    /*-fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;*/
}

.button:default {
    -fx-background-color: button-primary-color;
}

.button:focused {
    -fx-border-width: 0;
}

.button:pressed {
    -fx-opacity: 0.7;
}


.check-box .box {

    -fx-background-color: checkbox-background;
    -fx-border-color: input-border;
    -fx-border-radius:3px; 
}

.check-box:selected .mark {
    -fx-background-color: input-background;
}

.check-box:selected .box {
    -fx-background-color: button-color;
}

.combo-box{
    -fx-border-color:input-border;
    -fx-border-style:solid;
    -fx-border-width:1;
}
.combo-box .arrow{
    -fx-background-color: text-color;
}
.combo-box .arrow-button{
    -fx-background-color: input-background;
    -fx-border-style:none;
}
.combo-box .arrow-button{
    -fx-background-color: input-background;
}
.combo-box .list-cell{
    -fx-background-color:input-background;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: button-color;
}

.combo-box .cell:selected {
    -fx-text-fill: text-color;
}

.toggle-button:selected {
    -fx-pref-height: 34px;
}

.icon-button {
    -fx-background-color: toolbar-background;
    -fx-pref-height: 34px;
    -fx-text-fill: text-color;
    
    
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-font-size: 1.5em; 
    /*-fx-padding: 10 12 10 12 ;*/    
    
}